@media (min-width: 375px){
    body {
        display: flex;
        flex-direction: column;
        background-size: cover;
        margin: 0% auto;
        max-width: 1500px;
        background-color: maroon;
    }
}

@media (min-width: 375px){
    .nav-bar{
        background-color: black;
        max-width: 1500px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        margin: 0% auto;
    }
}

@media (min-width: 50px){
    #top-logo{
        max-width: 100px;
        margin: 0% auto;
    }
}

@media (min-width: 375px){
    #pages-nav{
        display: flex;
        width:1500px ;
        margin: 0% auto;
        justify-content: space-around;
        max-width: 1400px
    }
}

#text-color{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

@media (min-width: 375px){
    .menu-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0% auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 600px;
    width: 600px
    }
}

#text-color2{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

@media (min-width:375px){
    fieldset{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: beige;
        color: black;
        width: 700px;
        max-width: 700px;
        margin: 0%auto;
    }
}
