@media (min-width: 375px){
    body {
        display: flex;
        flex-direction: column;
        background-size: cover;
        margin: 0% auto;
        max-width: 1500px;
    }
}

@media (min-width: 375px){
    .nav-bar{
        background-color: black;
        max-width: 1500px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        margin: 0% auto;
    }
}

@media (min-width: 50px){
    #top-logo{
        max-width: 100px;
        margin: 0% auto;
    }
}

@media (min-width: 375px){
    #pages-nav{
        display: flex;
        width:1500px ;
        margin: 0% auto;
        justify-content: space-around;
        max-width: 1400px
    }
}

#text-color{
    color: white;
    text-decoration: none;
    font-size: 20px;
}