@media (min-width: 375px){
    body {
        background-color: white;
        display: flex;
        flex-direction: column;
        background-size: cover;
        color: white;
        margin: 0% auto;
        max-width: 1500px;
    }
}

@media (min-width: 375px){
    .nav-bar{
        background-color: black;
        max-width: 1500px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        margin: 0% auto;
    }
}

@media (min-width: 50px){
    #top-logo{
        max-width: 100px;
        margin: 0% auto;
    }
}

@media (min-width: 375px){
    #pages-nav{
        display: flex;
        width:1500px ;
        margin: 0% auto;
        justify-content: space-around;
        max-width: 1500px
    }
}

#text-color{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-pages{
    max-width: 500px;
}

@media (min-width: 375px){
        .info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
        max-width: 1500px;
        width: 1500px;
    }
}


p{
    text-align: center;
}

h1{
    text-align: center;
    font-size: 60px;
    color: black;
    font-family: serif
   
}

h3{
    font-size: 20px;
    color: black;
    font-family: Georgia, serif;
    text-decoration: underline;
}

p{
    font-size: 20px;
    color: black;
    font-family: Georgia, serif;
}